<h1>Editing Patient</h1>
<br/>
<%= render 'form', patient: @patient %>
<br/>
<%= link_to 'Show', @patient, class:'btn btn-dark' %> 
<%= link_to 'Delete', @patient, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%>
<%= link_to 'Back', patients_path, class:'btn btn-dark' %>

